{% extends '_base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
<section class="container px-4 py-8 mx-auto">
    <div class="flex flex-col py-10 space-y-8 md:flex-row md:space-y-0">
        <!-- Main Content -->
        <div class="flex-1 max-w-sm md:mr-8">
            <h2 class="mb-6 text-4xl font-bold text-left underline dark:text-white underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">{{ title }}</h2>
            {% include "inc/flash.html" %}
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'user_password_update' %}">
                {% csrf_token %}
                {% for field in pwd_update_form %}
                    <div class="mb-4">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="text-sm text-red-600">
                                {{ field.help_text|safe }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="px-4 py-2 mt-4 text-sm font-medium text-center text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-200 dark:bg-blue-500 dark:hover:bg-blue-600 dark:focus:ring-blue-900">
                    Update Password
                </button>
            </form>
            {% else %}
            <p>
                Please <a href="{% url 'login' %}">log in</a> to access this content.
            </p>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script></script>
{% endblock %}
