{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Ecommerce</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-green-50">
    <header class="bg-white shadow">
        <div class="container mx-auto px-6 py-3">
            <div class="flex items-center justify-between">
                <div>
                    <a class="text-gray-800 text-xl font-bold md:text-2xl hover:text-gray-700" href="#">Brand</a>
                </div>
                <div class="flex items-center">
                    <a class="text-gray-800 hover:text-gray-600 mx-4" href="#">Shop</a>
                    <a class="text-gray-800 hover:text-gray-600 mx-4" href="#">Contact</a>
                    <a class="text-gray-800 hover:text-gray-600 mx-4" href="#">Cart</a>
                </div>
            </div>
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>