{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    
    {% block head %}
        {% include './head.html' %}
    {% endblock head %}
    <body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
        <!-- Begin Body Wrapper -->
        <div class="body-wrapper">
            <!-- Begin Header Area -->
                {% include './header.html' %}
            <!-- Header Area End Here -->
                {% block content %}

                {% endblock %}
            <!-- Begin Footer Area -->
                {% include './footer.html' %}
            <!-- Begin Quick View | Modal Area -->

            <!-- Quick View | Modal Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        {% block scripts %}
            {% include './script.html' %}
        {% endblock %} 
    </body>
</html>